

body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    font-family: sans-serif;
    padding: 20px;
}

.menu {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    padding: 20px;
    max-width: 500px;/*El ancho actual del menú siempre tomará un 80% del ancho del elemento body. En una pantalla muy amplia, el café y el postre aparecerán demasiado lejos de sus precios.
    Añade una propiedad max-width (ancho-máximo) a la clase menu con un valor de 500px para prevenir que se expanda más de lo necesario.*/
}
hr{
    height: 2px;
    background-color: brown;
    border-color: brown;
}
.bottom-line{
    margin-top: 25px;
}
h1,h2{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 15px;
}
h2{
    font-size: 30px;
}

h1,h2,p {
    text-align: center;
}
img{
    display: block;
    margin-top: -25px;
    margin-left: auto;
    margin-right: auto;
}
.established{
    font-style: italic;
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}
.flavor, .dessert {
    text-align: left;
    width: 75%;
}
.price {
    text-align: right;
    width: 25%;
}
/*footer*/
footer{
    font-size: 14px;
}
.address {
    margin-bottom: 5px;
}
a {
    color: black;
}
a:visited {
    color: black;
}
a:hover{
    color: brown;
}
a:active {
    color: brown;
}